<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>com.varela.mxmasterd</string>
	<key>ProgramArguments</key>
	<array>
		<string>/Users/varela/Projects/mxmaster-agent/bin/mxmasterd</string>
	</array>
	<key>RunAtLoad</key>
	<true/>
	<key>KeepAlive</key>
	<true/>
	<key>ProcessType</key>
	<string>Interactive</string>
	<key>StandardOutPath</key>
	<string>/Users/varela/Library/Logs/mxmasterd.log</string>
	<key>StandardErrorPath</key>
	<string>/Users/varela/Library/Logs/mxmasterd.log</string>
</dict>
</plist>
